<div class="modal-header">
  <h4 class="modal-title">Self-score quarter 每季自評</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body p-0">
  <ejs-grid #grid [dataSource]='gridData' allowTextWrap='true'  [allowPaging]='true' [allowResizing]='true' [showColumnMenu]='true' gridLines='Both'
  [toolbar]='toolbarOptions' (queryCellInfo)='queryCellInfoEvent($event)' [pageSettings]='pageSettings' [allowExcelExport]='true'>
  <e-columns>
    <e-column field='#' headerText='#' textAlign='Center' width=30 type='number'>
      <ng-template #template let-data>
        {{NO(data.index)}}
      </ng-template>
    </e-column>
    <e-column field='objective' headerText='KPI Objective' type='string'></e-column>
    <e-column field='l0TargetList' headerText='L0 Target'>
    </e-column>
    <e-column field='l0ActionList' headerText='L0 Action'>
      <ng-template #template let-data>
        <ul style="padding: 0 0 0 15px;" *ngFor="let item of data.l0ActionList">
          <li>{{item}}</li>
        </ul>
       </ng-template>
    </e-column>
    <ng-template #template ngFor let-column [ngForOf]="columns">
      <e-column [field]="column.field"
                [headerText]="column.headerText"
               >
     </e-column>
</ng-template>
  </e-columns>
</ejs-grid>
<div class="row mt-2 d-flex justify-content-center">
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">5>= X >=4.5 超出預期</th>
          <th scope="col">4.5> X >=4 符合預期</th>
          <th scope="col">4 > X >=3 大部分符合預期</th>
          <th scope="col">3> X >=2 部分符合預期</th>
          <th scope="col">2> X >= 0 不佳不符合預期</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Exceed expectation</td>
          <td>Meet expectation</td>
          <td>Mostly meet expectation</td>
          <td>Partly meet expectation</td>
          <td>Poorly or not meet expectation</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<div class="row mt-2 d-flex justify-content-center">
  <div class="col-md-12">
        <!-- Nếu có Functional Leader -->
        <table class="table" *ngIf="hasFunctionalLeader && isQuarter2Or4">
          <thead>
            <tr>
              <th scope="col" style="width:20%">Functional leader comment<br> 功能主管評語</th>
              <th scope="col" style="width:50%">{{functionalLeaderCommentContent || ""}}</th>
              <th scope="col" style="width:20%">Functional leader score<br>功能主管評分</th>
              <th scope="col" style="width:10%;text-align: center; font-size: xx-large;">{{functionalLeaderAttitudeScoreData || 0}}</th>
            </tr>
          </thead>
        </table>
        <div class="alert alert-danger text-center" role="alert" *ngIf="hasFunctionalLeader && functionalLeaderScored === false">
          <strong class="text-center"> Please ask functional leader to score attitude score L0!</strong>
        </div>

    <table class="table " style="border: none;">
      <thead>
        <tr>
          <th style="border: none; width: 60%;padding: 0" scope="col" class="text-center">Self - Evaluation 自我評價</th>
          <th style="border: none; width: 20%;padding: 0;" scope="col" class="text-center">Self-Score <br>自評</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="border: none;">
            <div class="form-group">
              <textarea id="comment" rows="6" type="text" [(ngModel)]="content"
              placeholder="Type something!" class="form-control"></textarea>
            </div>
          </td>
          <td style="border: none;">
            <div class="form-group">
              <ejs-dropdownlist #accountGroupDropdownlist [dataSource]='kpiData' [(value)]='point'
              [fields]='fields' [allowFiltering]='true'>
            </ejs-dropdownlist>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<div class="modal-footer justify-content-end">
    <button type="button" class="btn btn-danger" (click)="activeModal.close('Close click')">{{'Close' }}</button>
    <button [disabled]="hasFunctionalLeader && functionalLeaderScored === false" type="button" class="btn btn-success" (click)="finish()" >{{'Finish' }}</button>
</div>
