<div class="row">
  <div class="col-md-3 d-flex justify-content-center">
    <div class="form-group">
      <label for="exampleInputEmail1">Change System Date</label>
      <kendo-datepicker style="width: 100%;" [(ngModel)]="currentTime" (valueChange)="onChangeReportTime($event)">
      </kendo-datepicker>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <ejs-tab id="element" (selected)='selected($event)'>
      <e-tabitems>
        <ng-container *ngFor="let item of accountGroupData">
          <e-tabitem [content]='getGridTemplate(item.position)'>
            <ng-template #headerText>
              <div> {{item.name}} </div>
            </ng-template>
          </e-tabitem>
        </ng-container>
      </e-tabitems>
    </ejs-tab>
  </div>
</div>

<!-- L0 -->
<ng-template #GridtemplateRef>
  <ejs-grid #grid [dataSource]='gridData' [allowPaging]='true' [allowResizing]='true' [showColumnMenu]='true'
    gridLines='Both' [toolbar]='toolbarOptions' [pageSettings]='pageSettings' [allowExcelExport]='true'>
    <e-columns>
      <e-column field='#' headerText='#' textAlign='Center' width=80 type='number'>
        <ng-template #template let-data>
          {{NO(data.index)}}
        </ng-template>
      </e-column>
      <e-column field='topic' headerText='KPI Objective' type='string'>
        <ng-template #template let-data>
          <span>{{data.topic}}</span> <span *ngIf="data.isReject && data.isDisplayAction"
            class="badge badge-danger">Rejected</span>
        </ng-template>
      </e-column>
      <e-column field='option' headerText='Option'>
        <ng-template #template let-data>
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-success mr-2" *ngIf="data.isDisplayAction"
              (click)='openActionModalComponent(data)'>Action</button>
            <button type="button" class="btn btn-sm btn-success mr-2" *ngIf="data.isDisplayUploadResult"
              (click)='openUpdateResultModalComponent(data)'>Update Result</button>
            <button type="button" class="btn btn-sm btn-success mr-2" *ngIf="data.isDisplaySelfScore"
              (click)='openSelfScoreModalComponent(data)'>Self-score</button>
          </div>
        </ng-template>
      </e-column>
    </e-columns>
  </ejs-grid>
</ng-template>
<!-- L1 -->
<ng-template #GridtemplateRef>
  <ejs-grid #grid [dataSource]='gridData' [allowPaging]='true' [allowResizing]='true' [showColumnMenu]='true'
    gridLines='Both' [toolbar]='toolbarOptions' [pageSettings]='pageSettings' [allowExcelExport]='true'>
    <e-columns>
      <e-column field='#' headerText='#' textAlign='Center' width=80 type='number'>
        <ng-template #template let-data>
          {{NO(data.index)}}
        </ng-template>
      </e-column>
      <e-column field='objective' headerText='KPI Objective' type='string'>
      </e-column>
      <e-column field='option' headerText='Option'>
        <ng-template #template let-data>
          <div class="btn-group">
            <button type="button" *ngIf="data.type == KPI" class="btn btn-sm btn-success mr-2"
              (click)='openKPIScoreModalComponent(data)'>KPI Score</button>
            <button type="button" *ngIf="data.type == Attitude" class="btn btn-sm btn-success mr-2"
              (click)='openAttitudeScoreModalComponent(data)'>Attitude Score</button>
          </div>
        </ng-template>
      </e-column>
    </e-columns>
  </ejs-grid>
</ng-template>

<!-- L2 -->
<ng-template #GridtemplateRef>
  <ejs-grid #grid [dataSource]='gridData' [allowPaging]='true' [allowResizing]='true' [showColumnMenu]='true'
    gridLines='Both' [toolbar]='toolbarOptions' [pageSettings]='pageSettings' [allowExcelExport]='true'>
    <e-columns>
      <e-column field='#' headerText='#' textAlign='Center' width=80 type='number'>
        <ng-template #template let-data>
          {{NO(data.index)}}
        </ng-template>
      </e-column>
      <e-column field='objective' headerText='KPI Objective' type='string'>
      </e-column>
      <e-column field='option' headerText='Option'>
        <ng-template #template let-data>
          <div class="btn-group">
            <button type="button" *ngIf="data.type == KPI" class="btn btn-sm btn-success mr-2"
              (click)='openKPIScoreL2ModalComponent(data)'>KPI Score</button>
            <button type="button" *ngIf="data.type == Attitude" class="btn btn-sm btn-success mr-2"
              (click)='openAttitudeScoreL2ModalComponent(data)'>Attitude Score</button>
          </div>
        </ng-template>
      </e-column>
    </e-columns>
  </ejs-grid>
</ng-template>

<!-- Updater -->
<ng-template #GridtemplateRef>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-end my-2">
      <button type="button" class="btn btn-secondary" (click)="submit()">Submit</button>
    </div>
  </div>
<ejs-spreadsheet #remoteDataBinding (created)="created()" [height]="500" [showRibbon]="false" [showSheetTabs]="false"  >
  <e-sheets>
      <e-sheet [name]="sheetName">
          <e-ranges>
              <e-range [showFieldAsHeader]="false" startCell="A2" [dataSource]="data" >
              </e-range>
          </e-ranges>
          <e-rows>
              <e-row>
                  <e-cells>
                      <e-cell value="KPI Objective 一階KPI" [style]="{ fontWeight: 'bold', textAlign: 'center', backgroundColor: '#4b5366', color: '#ffffff', fontSize: '12pt' }" ></e-cell>
                      <e-cell value="Monthly Performance" [style]="{ fontWeight: 'bold', textAlign: 'center', backgroundColor: '#4b5366', color: '#ffffff', fontSize: '12pt' }" ></e-cell>
                      <e-cell value="Upload date / time" [style]="{ fontWeight: 'bold', textAlign: 'center', backgroundColor: '#4b5366', color: '#ffffff', fontSize: '12pt' }" ></e-cell>
                  </e-cells>
              </e-row>
          </e-rows>
          <e-columns>
              <e-column [width]=200></e-column>
              <e-column [width]=150 [style]="{ textAlign: 'center'}" ></e-column>
              <e-column [width]=200 [style]="{ textAlign: 'center'}" ></e-column>
          </e-columns>
      </e-sheet>
  </e-sheets>

</ejs-spreadsheet>
</ng-template>

<!-- GHR -->
<ng-template #GridtemplateRef>
  <ejs-grid #grid [dataSource]='gridData' [allowPaging]='true' [allowResizing]='true' [showColumnMenu]='true'
    gridLines='Both' [toolbar]='toolbarOptions' [pageSettings]='pageSettings' [allowExcelExport]='true'>
    <e-columns>
      <e-column field='#' headerText='#' textAlign='Center' width=80 type='number'>
        <ng-template #template let-data>
          {{NO(data.index)}}
        </ng-template>
      </e-column>
      <e-column field='objective' headerText='KPI Objective' type='string'>
      </e-column>
      <e-column field='option' headerText='Option'>
        <ng-template #template let-data>
          <div class="btn-group">
            <button type="button" *ngIf="data.type == KPI" class="btn btn-sm btn-success mr-2"
              (click)='openKPIScoreGHRModalComponent(data)'>KPI Score</button>
            <button type="button" *ngIf="data.type == Attitude" class="btn btn-sm btn-success mr-2"
              (click)='openAttitudeScoreGHRModalComponent(data)'>Attitude Score</button>
          </div>
        </ng-template>
      </e-column>
    </e-columns>
  </ejs-grid>
</ng-template>
<!-- Functional Leader -->
<ng-template #GridtemplateRef>
  <ejs-grid #grid [dataSource]='gridData' [allowPaging]='true' [allowResizing]='true' [showColumnMenu]='true'
    gridLines='Both' [toolbar]='toolbarOptions' [pageSettings]='pageSettings' [allowExcelExport]='true'>
    <e-columns>
      <e-column field='#' headerText='#' textAlign='Center' width=80 type='number'>
        <ng-template #template let-data>
          {{NO(data.index)}}
        </ng-template>
      </e-column>
      <e-column field='objective' headerText='Objective' type='string'>
      </e-column>
      <e-column field='option' headerText='Option'>
        <ng-template #template let-data>
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-secondary mr-2"
              (click)='openAttitudeScoreFunctionalLeaderModalComponent(data)'>Attitude Score</button>
          </div>
        </ng-template>
      </e-column>
    </e-columns>
  </ejs-grid>
</ng-template>
<!-- GM -->
<ng-template #GridtemplateRef>
  <ejs-grid #grid [dataSource]='gridData' [allowPaging]='true' [allowResizing]='true' [showColumnMenu]='true'
    gridLines='Both' [toolbar]='toolbarOptions' [pageSettings]='pageSettings' [allowExcelExport]='true'>
    <e-columns>
      <e-column field='#' headerText='#' textAlign='Center' width=80 type='number'>
        <ng-template #template let-data>
          {{NO(data.index)}}
        </ng-template>
      </e-column>
      <e-column field='objective' headerText='KPI Objective' type='string'>
      </e-column>
      <e-column field='option' headerText='Option'>
        <ng-template #template let-data>
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-success mr-2" (click)='openKPIScoreGMModalComponent(data)'>KPI
              Score</button>
          </div>
        </ng-template>
      </e-column>
    </e-columns>
  </ejs-grid>
</ng-template>
<ng-template #importModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      <i class="fas fa-plus"></i> Import Excel
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="Name">Select File (*Notice: Excel file must be followed a system template. If you do not have a
            template, please <a [href]="excelDownloadUrl">click here</a> to download. Thank you!)</label>
          <input (change)="fileProgress($event)" name="file" type="file" class="form-control" />
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-primary" (click)="uploadFile()">Upload File</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
  </div>

</ng-template>
