.small-table {
  tbody {

    td {
      width: 16%; text-align: center;
    }
  }
}
.tooltip-kpi-table {
  display: none;
  transition: all 0.5s ease;
  position: absolute;
  left:0;
}
.hover-box {
  position: relative;
}
.hover-box:hover .tooltip-kpi-table{
  display: block;
  background:  #84c1ff;
  position: absolute;
  z-index: 999;

}

.tooltip-attitude-table {
  display: none;

  background:  #84c1ff;
  position: absolute;
  left:0;
  z-index: 999;

}
.hover-box:hover .tooltip-attitude-table{
  display: block;

  background:  #84c1ff;
  position: absolute;
  z-index: 999;

}
