<div class="row">
  <div class="col-md-12">
    <div class="card">
      <!-- <div class="card-header">
        <h3 class="card-title"><i class="fas fa-users"></i> User List
        </h3>
      </div> -->
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0">
        <ejs-grid #grid
          id='grid'
          [dataSource]="data"
          [allowPaging]='true'
          [allowResizing]='true'
          [showColumnMenu]='true'
          gridLines='Both'
          [locale]='locale'
          (actionBegin)="actionBegin($event)"
          (actionComplete)="actionComplete($event)"
          [toolbar]='toolbarOptions'
          [pageSettings]='pageSettings'
          [allowExcelExport]='true'
          (recordDoubleClick)='onDoubleClick($event)'
          (toolbarClick)='toolbarClick($event)'
          [editSettings]='editSettings'
        >
          <e-columns>
            <e-column field="ID" textAlign='Center' width="80" isPrimaryKey="true" headerText="ID">
              <ng-template #template let-data>
                {{NO(data.index)}}
              </ng-template>
              <ng-template #editTemplate let-data>
                #
              </ng-template>
            </e-column>
            <e-column field='topic' headerText="{{'Period' | translate}}" width='200' textAlign='Center'>
            </e-column>
            <e-column field='accounts' headerText="{{'PIC' | translate}}" width='200' textAlign='Center'>
              <ng-template #editTemplate let-data>
                  <ejs-dropdownlist #accountGroupDropdownlist [dataSource]='accountGroupData' [value]="data.accountGroupId"
                      [fields]='fields' [allowFiltering]='true' (change)='onChangeAccountGroup($event)'>
                  </ejs-dropdownlist>
              </ng-template>
              </e-column>
              <e-column field='date'  type='date' format='MM-dd-yyyy' headerText="{{'Date' | translate}}" width='200' textAlign='Center'>
              </e-column>
          </e-columns>
        </ejs-grid>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
</div>

<ng-template #addNewModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      <i class="fas fa-plus"></i>
      <span *ngIf="model?.id > 0">
        {{ 'Update KPI Object' | translate}}
      </span>
      <span *ngIf="model?.id === 0">
        {{ 'Add new KPI Object' | translate}}
      </span>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="">KPI Objective</label>
          <input type="text" [(ngModel)]="topic" class="form-control">
        </div>

      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Choose PIC</label>
          <ejs-multiselect id='glueDropdownlist' #accountDropdownlist mode='Box' [dataSource]='accountData' [fields]='fields'
            [allowFiltering]='true' [value]="this.accountIdList" (removing)='removing($event)' (select)="onSelect($event)"
            placeholder='Choose PIC'>
          </ejs-multiselect>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">{{'Close' | translate}}</button>
    <button type="button" class="btn btn-success" *ngIf="model.id  === 0" (click)="create()">{{'Finish' | translate}}</button>
    <button type="button" class="btn btn-success" *ngIf="model.id  > 0" (click)="update()">{{'Finish' | translate}}</button>
  </div>

</ng-template>

