<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body table-responsive p-0">
        <ejs-treegrid
          #treegrid
          [dataSource]="data"
          (contextMenuClick)="contextMenuClick($event)"
          (toolbarClick)="toolbarClick($event)"
          [treeColumnIndex]="1"
          allowSorting="true"
          gridLines="Both"
          (created)="created()"
          [editSettings]="editing"
          [contextMenuItems]="contextMenuItems"
          (actionComplete)="actionComplete($event)"
          [toolbar]="toolbar"
          childMapping="childNodes"
          allowExcelExport="true"
          allowPdfExport="true"
          (rowSelected)="rowSelected($event)"
        >
          <e-columns>
            <e-column
              field="entity.level"
              width="80"
              isPrimaryKey="true"
              headerText="Level"
            >
              <ng-template #editTemplate let-data>
                {{ data.entity.level }}
              </ng-template>
            </e-column>
            <e-column field="entity.name" headerText="OC Name"> </e-column>
          </e-columns>
        </ejs-treegrid>



        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title">{{title}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <input name="OC"  type="text" [(ngModel)]="oc.name" placeholder="OC Name" class="form-control Name" />
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
            <button type="submit" (click)='createOC()' class="btn btn-primary">Save</button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
